.mainBg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right, #fa7257, #fc63a7);
}
.cont {
  text-align: center;
  width: 40%;
}
.mainHead {
  color: white;
  font-size: 32px;
}
.btnCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.button {
  font-size: 30px;
  background-color: #fff;
  border: 0px;
  border-radius: 10px;
  padding: 8px 15px;
  color: #dd1264;
}
.nameEl {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}
.f {
  width: 100%;
  padding: 80px 150px;
}
.fhead {
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}
